bin
build
build-win
obj
maps
catalogs
imgui.ini
vcpkg
vcpkg_installed
package/release-maps
package/*.exe
*.json
!vcpkg.json
*[m-o][d-f]e[c-e]*
*[e-g][t-v][b-d][j-l]*
assets/mascot*
ephemerides/*.txt
wget-log*
a[h-j]*
!*needle*
*_legacy*
